#include "tegra186-tx2-cti-base.dts"

/{
    nvidia,dtsfilename = "tegra186-tx2-cti-ESG503-USB3.dts";

    gpio@2200000 {
    /*enable this to enabled PCIe Controller #2*/
        pcie0_lane2_mux {
             status = "disabled";
        };
    /******************************************/
    /*enable these two to enable USB3 Port 0*/
        e3325_sdio_rst {
           status = "okay";
        };
        e3325_lane0_mux {
            status = "okay";
        };
    /******************************************/

    };
    i2c@3160000 {

        gpio@74{
            status = "disabled";


        };
        gpio@77{
            status = "disabled";

        };

    };

    i2c@c240000{
        #address-cells = <1>;
        #size-cells = <0>;

        gpio@74{
            compatible = "ti,tca9539";
            reg = <0x74>;
            gpio-controller;
            #gpio-cells = <0x2>;
            vcc-supply = <&battery_reg>;
            status = "okay";
         };

    };
    spi@c260000 {
        status = "okay";
        /delete-node/ spi-touch-sharp19x12@0;
        can@0 {
            status = "okay";
            compatible = "microchip,mcp2515";
            reg = <0>;
            clocks = <&can_clock>;
            interrupt-parent = <&tegra_main_gpio>;
                /* the first cell defines the
                    index of the interrupt within the controller, while the second cell is used
                    to specify any of the following flags:
                    - bits[3:0] trigger type and level flags
                    1 = low-to-high edge triggered
                    2 = high-to-low edge triggered
                    4 = active high level-sensitive
                    8 = active low level-sensitive
                */
          interrupts = <TEGRA_MAIN_GPIO(I, 4) 0x2>;
          vdd-supply = <&battery_reg>;
          xceiver-supply = <&battery_reg>;
          spi-max-frequency=<6375000>;
       };
    };



    xhci@3530000 {
        status = "okay";
        phys = <&{/xusb_padctl@3520000/pads/usb2/lanes/usb2-0}>,
            <&{/xusb_padctl@3520000/pads/usb2/lanes/usb2-1}>,
            <&{/xusb_padctl@3520000/pads/usb2/lanes/usb2-2}>,
            <&{/xusb_padctl@3520000/pads/usb3/lanes/usb3-0}>,
            <&{/xusb_padctl@3520000/pads/usb3/lanes/usb3-2}>;
        phy-names = "usb2-0", "usb2-1", "usb2-2", "usb3-0", "usb3-2";
    };


   xusb_padctl@3520000 {
        pads {
            usb2 {
                lanes {
                    usb2-0 {
                        status = "okay";
                    };
                    usb2-1 {
                        status = "okay";
                    };
                    usb2-2 {
                        status = "okay";
                    };
                };
            };
            usb3 {
                lanes {
                    usb3-0 {
                        status = "okay";
                    };
                    usb3-1 {
                        
                        status = "disabled";
                    };
                    usb3-2 {
                        status = "okay";
                    };
                };
            };
        };
        ports {
            usb2-0 {
                status = "okay";
            };
            usb2-1 {
                status = "okay";
            };

            usb2-2 {
                status = "okay";
            };

            usb3-0 {
                nvidia,usb2-companion = <0>;
                status = "okay";
            };
            usb3-1 {
                nvidia,usb2-companion = <1>;
                status = "disabled";
            };
            usb3-2 {
                nvidia,usb2-companion = <2>;
                status = "okay";
            };
        };
    };
    pinctrl@3520000 {
        status = "okay";
           pinmux {
            usb2-port0 {
                status = "okay";
            };
            usb2-port1 {
                status = "okay";
            };

            usb2-port2 {
                status = "okay";
            };

            usb3-port0 {
                status = "okay";
            };

            usb3-port1 {
                status = "disabled";
            };

            usb3-port2 {
                status = "okay";
            };
        };
    };
    pcie-controller@10003000 {
        pci@1,0 {
            nvidia,num-lanes = <1>;
            status = "okay";
        };
        pci@2,0 {
            nvidia,num-lanes = <0>;
            status = "disabled";
        };
        pci@3,0 {
            nvidia,num-lanes = <1>;
            status = "okay";
        };
    };


};
