#include <dt-bindings/clock/tegra194-clock.h>

#define CAM0_PWDN_0 TEGRA194_MAIN_GPIO(P, 4)
#define CAM1_PWDN_0	TEGRA194_MAIN_GPIO(P, 5)
#define CAM_VSYNC   TEGRA194_MAIN_GPIO(Q, 5)

/* PCA9539 Pxx bus-port define*/
#define CAM0_RST_0      0
#define CAM1_RST_0      2
#define CAM2_RST_0      4
#define CAM3_RST_0      7
#define CAM0_PWDN_1     1
#define CAM1_PWDN_1     3
#define CAM2_PWDN_0     5
#define CAM2_PWDN_1     6
#define CAM3_PWDN_0     8 // P10
#define CAM3_PWDN_1     9 // P11
#define MIPI_SW_SEL     10 // P12

#define CAMERA_I2C_MUX_BUS(x) (0x1E + x)

/ {
	host1x {
		vi@15c10000 {
			framos_channel;
		};
	};
	
	i2c@3180000 {
		gpio_i2c_cam: gpio@77 {
            compatible = "ti,tca9539";
            reg = <0x77>;
            gpio-controller;
            #gpio-cells = <2>;
            #address-cells = <1>;
            #size-cells = <0>;
            vcc-supply = <&battery_reg>;
			
			camera-rst{
                gpio-hog;
                output-low;
                gpios = <0 0 2 0 4 0 7 0>;
                label = "cam0_rst", "cam1_rst", "cam2_rst", "cam3_rst";
            };
			camera-pwr{
                gpio-hog;
                output-high;
                gpios = <1 0 3 0 5 0 6 0 8 0 9 0 10 0>;
                label = "cam0_pw1", "cam1_pw1", "cam2_pw0", "cam2_pw1", "cam3_pw0", "cam3_pw1", "mipi_sel";
            };
        };
		tca9548@70 {
		    compatible = "nxp,pca9548";
		    reg = <0x70>;
		    #address-cells = <1>;
		    #size-cells = <0>;
		    skip_mux_detect;
            vcc-supply = <&p3509_vdd_3v3_cvb>;
            force_bus_start = <CAMERA_I2C_MUX_BUS(0)>;
            status = "okay";
			i2c@0 {
			    reg = <0>;
			    i2c-mux,deselect-on-exit;
			    #address-cells = <1>;
			    #size-cells = <0>;
                status = "okay";
			};
			i2c@1 {
			    reg = <1>;
			    i2c-mux,deselect-on-exit;
			    #address-cells = <1>;
			    #size-cells = <0>;
                status = "okay";
			};
            i2c@2 {
			    reg = <2>;
			    i2c-mux,deselect-on-exit;
			    #address-cells = <1>;
			    #size-cells = <0>;
                status = "okay";
			};
			i2c@3 {
			    reg = <3>;
			    i2c-mux,deselect-on-exit;
			    #address-cells = <1>;
			    #size-cells = <0>;
                status = "okay";
			};
	    };
	};

	gpio@2200000 {
		camera-control-output-low {
			gpio-hog;
			output-low;
			gpios = < CAM0_PWDN_0 0 CAM1_PWDN_0 0 >;
			label = "cam0-pwdn0", "cam1-pwdn0";
		};
	};
};