#define SENSOR_MODE0				mclk_khz = "24000";		\
									num_lanes = "2"; \
									phy_mode = "DPHY";	\
									discontinuous_clk = "yes";	\
									dpcm_enable = "false";	\
									cil_settletime = "0";	\
									active_w = "3264";	\
									active_h = "2464";	\
									pixel_t = "bayer_rggb";	\
									readout_orientation = "90";	\
									line_length = "3448";	\
									inherent_gain = "1";	\
									mclk_multiplier = "9.33";	\
									pix_clk_hz = "182400000";	\
									gain_factor = "16";	\
									framerate_factor = "1000000";	\
									exposure_factor = "1000000";	\
									min_gain_val = "16"; 	\
									max_gain_val = "170"; 	\
									step_gain_val = "1";	\
									default_gain = "16"; 	\
									min_hdr_ratio = "1";	\
									max_hdr_ratio = "1";	\
									min_framerate = "2000000"; 	\
									max_framerate = "21000000"; 	\
									step_framerate = "1";	\
									default_framerate = "21000000"; 	\
									min_exp_time = "13";	\
									max_exp_time = "683709"; 	\
									step_exp_time = "1";	\
									default_exp_time = "2495"; 	\
									embedded_metadata_height = "2";

#define SENSOR_MODE1				mclk_khz = "24000";	\
									num_lanes = "2"; \
									phy_mode = "DPHY";	\
									discontinuous_clk = "yes";	\
									dpcm_enable = "false";	\
									cil_settletime = "0";	\
									active_w = "3264";	\
									active_h = "1848";	\
									pixel_t = "bayer_rggb";	\
									readout_orientation = "90";	\
									line_length = "3448";	\
									inherent_gain = "1";	\
									mclk_multiplier = "9.33";	\
									pix_clk_hz = "182400000";	\
									gain_factor = "16";	\
									framerate_factor = "1000000";	\
									exposure_factor = "1000000";	\
									min_gain_val = "16";	\
									max_gain_val = "170";	\
									step_gain_val = "1";	\
									default_gain = "16";	\
									min_hdr_ratio = "1";	\
									max_hdr_ratio = "1";	\
									min_framerate = "2000000";	\
									max_framerate = "28000000";	\
									step_framerate = "1";	\
									default_framerate = "28000000"; \
									min_exp_time = "13";	\
									max_exp_time = "683709"; 	\
									step_exp_time = "1";	\
									default_exp_time = "2495";	\
									embedded_metadata_height = "2";

#define SENSOR_MODE2				mclk_khz = "24000";	\
									num_lanes = "2"; \
									phy_mode = "DPHY";	\
									discontinuous_clk = "yes";	\
									dpcm_enable = "false";	\
									cil_settletime = "0";	\
									active_w = "1920";	\
									active_h = "1080";	\
									pixel_t = "bayer_rggb";	\
									readout_orientation = "90";	\
									line_length = "3448";	\
									inherent_gain = "1";	\
									mclk_multiplier = "9.33";	\
									pix_clk_hz = "182400000";	\
									gain_factor = "16";	\
									framerate_factor = "1000000";	\
									exposure_factor = "1000000";	\
									min_gain_val = "16";	\
									max_gain_val = "170";	\
									step_gain_val = "1";	\
									default_gain = "16";	\
									min_hdr_ratio = "1";	\
									max_hdr_ratio = "1";	\
									min_framerate = "2000000";	\
									max_framerate = "30000000";	\
									step_framerate = "1";	\
									default_framerate = "30000000"; \
									min_exp_time = "13";	\
									max_exp_time = "683709"; 	\
									step_exp_time = "1";	\
									default_exp_time = "2495";	\
									embedded_metadata_height = "2";

#define SENSOR_MODE3				mclk_khz = "24000";	\
									num_lanes = "2"; \
									phy_mode = "DPHY";	\
									discontinuous_clk = "yes";	\
									dpcm_enable = "false";	\
									cil_settletime = "0";	\
									active_w = "1640";	\
									active_h = "1232";	\
									pixel_t = "bayer_rggb";	\
									readout_orientation = "90";	\
									line_length = "3448";	\
									inherent_gain = "1";	\
									mclk_multiplier = "9.33";	\
									pix_clk_hz = "182400000";	\
									gain_factor = "16";	\
									framerate_factor = "1000000";	\
									exposure_factor = "1000000";	\
									min_gain_val = "16";	\
									max_gain_val = "170";	\
									step_gain_val = "1";	\
									default_gain = "16";	\
									min_hdr_ratio = "1";	\
									max_hdr_ratio = "1";	\
									min_framerate = "2000000";	\
									max_framerate = "30000000";	\
									step_framerate = "1";	\
									default_framerate = "30000000"; \
									min_exp_time = "13";	\
									max_exp_time = "683709"; 	\
									step_exp_time = "1";	\
									default_exp_time = "2495";	\
									embedded_metadata_height = "2";

#define SENSOR_MODE4				mclk_khz = "24000";	\
									num_lanes = "2"; \
									phy_mode = "DPHY";	\
									discontinuous_clk = "yes";	\
									dpcm_enable = "false";	\
									cil_settletime = "0";	\
									active_w = "1280";	\
									active_h = "720";	\
									pixel_t = "bayer_rggb";	\
									readout_orientation = "90";	\
									line_length = "3448";	\
									inherent_gain = "1";	\
									mclk_multiplier = "9.33";	\
									pix_clk_hz = "182400000";	\
									gain_factor = "16";	\
									framerate_factor = "1000000";	\
									exposure_factor = "1000000";	\
									min_gain_val = "16";	\
									max_gain_val = "170";	\
									step_gain_val = "1";	\
									default_gain = "16";	\
									min_hdr_ratio = "1";	\
									max_hdr_ratio = "1";	\
									min_framerate = "2000000";	\
									max_framerate = "60000000";	\
									step_framerate = "1";	\
									default_framerate = "60000000"; \
									min_exp_time = "13";	\
									max_exp_time = "683709"; 	\
									step_exp_time = "1";	\
									default_exp_time = "2495";	\
									embedded_metadata_height = "2";

#define SENSOR_MODE5				mclk_khz = "24000";	\
									num_lanes = "2"; \
									phy_mode = "DPHY";	\
									discontinuous_clk = "yes";	\
									dpcm_enable = "false";	\
									cil_settletime = "0";	\
									active_w = "1280";	\
									active_h = "720";	\
									pixel_t = "bayer_rggb";	\
									readout_orientation = "90";	\
									line_length = "3448";	\
									inherent_gain = "1";	\
									mclk_multiplier = "9.33";	\
									pix_clk_hz = "182400000";	\
									gain_factor = "16";	\
									framerate_factor = "1000000";	\
									exposure_factor = "1000000";	\
									min_gain_val = "16";	\
									max_gain_val = "170";	\
									step_gain_val = "1";	\
									default_gain = "16";	\
									min_hdr_ratio = "1";	\
									max_hdr_ratio = "1";	\
									min_framerate = "2000000";	\
									max_framerate = "60000000";	\
									step_framerate = "1";	\
									default_framerate = "60000000"; \
									min_exp_time = "13";	\
									max_exp_time = "683709"; 	\
									step_exp_time = "1";	\
									default_exp_time = "2495";	\
									embedded_metadata_height = "2";
